<div id="container">
  <div class="box">
    <h2>YouTube Live</h2>
    <p>Watch YouTube together!</p>
  </div>
  <div class="box2">
    <h2>What would you like to do?</h2>
    <ul>
      <form action="/stream">
Link: <input type="text" name="link" placeholder="xxx-xxx"><br>
Key: <input type="text" name="key" placeholder="xxx-xxx"><br>
Code Lach: <input type="text" name="lach" placeholder="xxx-xxx"><br>
<input type="submit" value="Stream NOW">
<input type="submit" formaction="/streamedit" value="Lach Stream">
<input type="submit" formaction="/custom" value="Custom command">
</form>

<form action="/streamoff">
<input type="submit" value="Stream Off">
</form>
  </ul>
  </div>
</div>
